extends ../main.layout.pug

block variables
  - var title = 'Обо мне';
  - var anotherClass = 'footer footer__about';

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .hero__socials
      -
        var socials = [
          ['vk', 'http://vk.com'],
          ['github', 'http://gh.com'],
          ['in', 'http://in.com']
        ]
      +socials(socials, 'socials_fill_white')

    .hero__menu
      a(href="#").hamburger-menu-btn
        .hamburger-menu-lines

    .hero__title
      .section-title
        img(src="", alt="").section-title__pic
      
      .user
        .user__pic
          img.user__pic-img(src='assets/images/content/user.jpg')
        .user__description
          .user__name Ковылин Николай
          .user__info Личный сайт веб разработчика

    a(href="").down-btn.hero__down-btns
      +icon('arrow_down', 'arrow-down')

  section.about
    .about__left
      .about__triangle
        svg(viewbox="0 0 1000 160", preserveaspectratio="none").triangle.triangle_fill_izibeige
          polygon(class="left", points="0,0   0,160   1000.8,160   1000.8,150")

      .about__left-title
        h2.block-title.lr Обо мне
      .about__left-content
        .user-description
          .user-description__image
            img.user-description__avatar(src='assets/images/content/user-full.jpg')
          .user-description__data
            .user-description__title
              h2.block-subtitle.lr Кто я 
            .user-description__text.text-content
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore non modi ex quia deserunt, beatae sint explicabo consequuntur maxime cupiditate, aliquam repudiandae tenetur natus labore voluptatum fugiat totam veritatis.
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore non modi ex quia deserunt, beatae sint explicabo consequuntur maxime cupiditate, aliquam repudiandae tenetur natus labore voluptatum fugiat totam veritatis.
    .about__right
      .about__triangle
        svg(viewbox="0 0 1000 160", preserveaspectratio="none").triangle.triangle_fill_beige
          polygon(class="right", points="1000,0   1000,160   0,160   0,150")

      .about__right-title
        .block-subtitle.lr Чем я могу быть вам полезен
      .about__right-description.text-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste velit mollitia nemo reprehenderit ipsam corrupti deleniti, blanditiis sit magni fuga eveniet hic sint illo? Quae harum voluptatem optio ipsum blanditiis. 
      .about__right-content
        - 
          var skills = [
            ['Frontend', [['HTML5', 30], ['CSS3', 50], ['javaScript $ jQuery', 70]]],
            ['Backend', [['PHP', 30], ['mySQL', 50], ['Node.js $ npm', 70], ['Mongo.db', 70]]],
            ['Workflow', [['Git', 30], ['Gulp', 50], ['Bower', 70]]],
          ]

        ul.skills-list
          each skillsrow in skills
            li.skills-list__item.skills-row
              .skills-row__title #{skillsrow[0]}
              ul.skills-row__list
                each skill in skillsrow[1]
                  li.skills-row__item
                    figure.skill(data-percents="70")
                      svg(viewBox="0 0 110 110" preserveAspectRatio="none").skill__figure
                        circle(cx="50%" cy="50%" r="45").skill__circle.skill__circle_under
                        circle(cx="50%" cy="50%" r="45",  transform="rotate(-90 55 55)").skill__circle.skill__circle_above


                      .skill__title #{skill[0]}
                  
  section.map
    .google-map
    .map__data
      .contacts
        h2.contacts__title
          .block-subtitle.lr Контакты
        address.contacts__data
          ul.contacts__list
            -
              var contacts = [
                ['skype', 'skype_kdn'],
                ['envelope', 'blblbl@gmail.com'],
                ['phone', '+7 909 987 56 19'],
                ['map_marker', 'Г. Москва ул. Пероваская 18']
              ]
            each item in contacts
              li.contacts__item.contacts-row
                .contacts-row.contacts__icon
                  +icon(`${item[0]}`, 'contacts__icon-img')
                .contacts-row.contacts__title #{item[1]}



