extends ../main.layout.pug

block variables
    - var title = 'Блог';
    - var anotherClass = 'footer';

block scripts
    script(src='about.bundle.js')

block content
    section.hero
        .hero__socials
            -
                var socials = [
                    ['vk', 'http://vk.com'],
                    ['github', 'http://gh.com'],
                    ['in', 'http://in.com']
                ]
            +socials(socials, 'socials_fill_white')

        .hero__menu
            a(href="#").hamburger-menu-btn
                .hamburger-menu-lines

        .hero__title
            .section-title
                img(src="", alt="").section-title__pic
      
            .user
                .user__pic
                     img.user__pic-img(src='assets/images/content/user-full.jpg')
                .user__description
                    .user__name Ковылин Николай
                    .user__info Личный сайт веб разработчика

        a(href="").down-btn.hero__down-btns
            +icon('arrow_down', 'arrow-down')

    section.blog
        aside.blog__sidebar
            ul.nav-blog.nav-blog__list
                li.nav-blog__item.nav-blog__item--active
                    a.nav-blog__link(href="#") Самое важное в SASS
                li.nav-blog__item
                    a.nav-blog__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                li.nav-blog__item
                    a.nav-blog__link(href="#") Самый необходимый набор Gulp плагинов
                li.nav-blog__item
                    a.nav-blog__link(href="#") Почему я выбрал Jade

        main.blog__content
            ul.content.content__list
                li.content__item
                    .content__title Самое важное в SASS
                    .content__date 22 Ноября 2016
                    .content__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                    .content__img
                        img(src='').content__pic
                li.content__item
                    .content__title Самое важное в SASS
                    .content__date 22 Ноября 2016
                    .content__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                    .content__img
                        img(src='').content__pic
                li.content__item
                    .content__title Самое важное в SASS
                    .content__date 22 Ноября 2016
                    .content__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                    .content__img
                        img(src='').content__pic
                li.content__item
                    .content__title Самое важное в SASS
                    .content__date 22 Ноября 2016
                    .content__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                    .content__img
                        img(src='').content__pic

        .trianglee
            svg(viewbox="0 0 1000 160", preserveaspectratio="none").triangle.triangle_fill_izibeige
                polygon(class="left", points="0,0   0,160   500.8,160   500.8,150")
                polygon(class="right", points="1000,0   1000,160   500,160   500,150")
