extends ../main.layout.pug

block variables
    - var title = 'Мои работы';
    - var anotherClass = 'footer';

block scripts
    script(src='works.bundle.js')

block content
    section.hero
        .hero__socials
            -
                var socials = [
                    ['vk', 'http://vk.com'],
                    ['github', 'http://gh.com'],
                    ['in', 'http://in.com']
                ]
            +socials(socials, 'socials_fill_white')

        .hero__menu
            a(href="#").hamburger-menu-btn
                .hamburger-menu-lines

        .hero__title
            .section-title
                img(src="", alt="").section-title__pic
      
            .user
                .user__pic
                     img.user__pic-img(src='assets/images/content/user.jpg')
                .user__description
                    .user__name Ковылин Николай
                    .user__info Личный сайт веб разработчика

        a(href="").down-btn.hero__down-btns
            +icon('arrow_down', 'arrow-down')
            
    section.main
        .slider.js-slider
            .slider__description.js-description
            .slider__wrapper
                .slider__img
                    +image('', 'Текущий проект', 'slider__main-slide js-main-slide')
                .slider__wrapper-btn
                    button.slider__btn.slider__up-btn.js-scroll-up
                        +icon('portf_arrow_down', 'arrow-down arrow-down--slider')
                        img.slider__up-slide
                    button.slider__btn.slider__down-btn.js-scroll-down
                        +icon('portf_arrow_up', 'arrow-down arrow-down--slider')
                        img.slider__down-slide
        .trianglee
            svg(viewbox="0 0 1000 160", preserveaspectratio="none").triangle.triangle_fill_izibeige
                polygon(class="left", points="0,0   0,160   500.8,160   500.8,150")
                polygon(class="right", points="1000,0   1000,160   500,160   500,150")
    section.about-me
        .about-me__content.container
            .about-me-title
                h2.title-h1.title-h1--about-me Что обо мне <br/> говорят
            .reviews
                ul.reviews__list
                    li.reviews__item
                        .reviews__photo(style="background-image: url('');")
                        blockquote.reviews__description
                            .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                            footer.reviews__author
                                .reviews__author-name Ковальчук Дмитрий
                                .reviews__author-post - основатель Loftschool
                    li.reviews__item
                        .reviews__photo(style="background-image: url('');")
                        blockquote.reviews__description
                            .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                            footer.reviews__author
                                .reviews__author-name Сабанцев Владимир
                                .reviews__author-post - преподаватель
