footer.footer
  .footer__row
    .footer__col
      -
        var menues = [
            ['Мои работы', 'myworks.html'],
            ['Обо мне', 'about.html'],
            ['Блог', 'blog.html'],
            ['Авторизация', 'index.html']
        ]
      +menues(menues, 'footer__menu')

    .footer__col.footer__col_justify_end
      -
        var socials = [
            ['vk', 'http://vk.com'],
            ['github', 'http://gh.com'],
            ['in', 'http://in.com']
        ]
      +socials(socials, 'footer__socials')

  .footer__row
    .footer__col
      .footer__text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam distinctio, explicabo quaerat vero ipsum corrupti facilis sit consequuntur, doloribus similique iste error, cupiditate ullam dignissimos minima. Ratione quod voluptates deserunt.
    .footer__col.footer__col_justify_end
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
