.preloader
  img.preloader__img(src="./assets/images/bg/preloader-bg.jpg", alt="")
  ul.preloader__spin
    li.preloader__item
    li.preloader__item
    li.preloader__item
  .preloader__text
    span.preloader__num 0
    span.preloader__per  %