@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translatey(-60%);
    }

    30% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-20%);
    }

    60% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}