.auth-block {
    width: 100%;
    height: 100%;
    background: url(assets/images/bg/hero.jpg) no-repeat;
    background-size: cover;
}

.auth-block__content {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-block__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: updown 0.7s 1s forwards;
    opacity: 0;
    border-radius: 7px;
    overflow: hidden;
    background: rgba(252, 252, 252, .85)
}

.user {
    text-align: center;
    width: 100%;
    height: 80%;
    padding: 40px 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

.socials .socials__link-icon {
    opacity: 0.5;
    transition: 0.6s;
    width: 26px;
    height: 22px;

    &:hover {
        opacity: 1;
    }
}

.socials__item {
    display: flex;
    align-items: flex-end;
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    display: flex;
    align-items: flex-end;
}

.socials_fill_green .socials__link-icon {
    fill: $green;
}

.socials_fill_white .socials__link-icon {
    fill: $white;
}

.auth-block__socials {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.user__pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.user__name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.auth-menu {
    width: 100%;
}

.auth-menu .menu__list {
    display: flex;
    justify-content: space-between;
}

.auth-menu .menu__item {
    display: flex;
    background-color: $green;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    border-right: 2px solid #74b8b6;
    transition: 0.6s;
    justify-content: center;
    align-items: center;

    &:first-child {
        flex: 1;
    }

    &:last-child {
        border-right: none;
    }

    &:hover {
        background-color: $green-hover;
    }

    @include phones {
        padding: 15px 20px;
    }
}

.auth-menu .menu__link {
    display: flex;
    color: #fff;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translatey(-60%);
    }

    30% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-20%);
    }

    60% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn {
    padding: 10px 30px;
}

.intro__btn-auth {
    border: 1px solid #fff;
    border-radius: 7px;
    position: absolute;
    top: 3%;
    right: 2%;
    font-weight: 500;
    color: #fff;
    transition: 0.6s;

    &:hover {
        color: $green;
        background-color: #fff;
    }

    @include phones {
        right: 50%;
        transform: translate(50%, 0);
    }
}