.paralax {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.paralax__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.paralax__image {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 110%;
}

.paralax__image-cloud-4 {
    left: 80%;
    bottom: 75%;
    animation: cloud-4 30s linear infinite;
    min-width: initial;
}

.paralax__image-cloud-7 {
    bottom: 50%;
    left: -15%;
    animation: cloud-7 35s linear infinite;
    min-width: initial;
}

.paralax__image-cloud-10 {
    bottom: -5%;
    left: 30%;
    animation: cloud-10 60s linear infinite;
    min-width: initial;
}

@keyframes cloud-10 {
    0% {
        left: -35%;
    }

    100% {
        left: 130%;
    }
}

@keyframes cloud-7 {
    0% {
        left: -20%;
    }

    100% {
        left: 125%;
    }
}

@keyframes cloud-4 {
    0% {
        left: -45%;
    }

    100% {
        left: 145%;
    }
}
